{% extends "base/base.html" %}

{% block title %}
  Gráfico de Recebimentos - {{ ano }}
{% endblock %}

{% block content %}

<div id="conteudo-projetos">

  <div class="cabecalho-projetos">
    <h2>&#128202; Gráfico de Recebimento - {{ ano }}</h2>
    <div class="filtros-container">
        <!-- Select para filtrar o ano -->
        <form method="get" action="{{ url_for('dashboard_recebimento.dashboard_grafico_recebimento') }}">
          <label for="filtroAno">&#128270 Ano:</label>
          <select id="filtroAno" name="ano" onchange="this.form.submit()">
            {% for ano_opcao in anos_disponiveis %}
              <option value="{{ ano_opcao }}" {% if ano_opcao == ano %}selected{% endif %}>
                {{ ano_opcao }}
              </option>
            {% endfor %}
          </select>
        </form> 
    </div>
  </div>

  <hr>

  <div name="tela">

    <div style="display: flex; justify-content: center;">
      <canvas id="myChart" style="width:100%; max-width:600px;"></canvas>
    </div>

    <br>

    <table>
      <thead> 
        <tr>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 0 }})">{{ ano }}</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 1 }})">Jan</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 2 }})">Fev</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 3 }})">Mar</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 4 }})">Abr</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 5 }})">Mai</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 6 }})">Jun</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 7 }})">Jul</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 8 }})">Ago</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 9 }})">Set</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 10 }})">Out</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 11 }})">Nov</th>
          <th cursor: style="cursor: pointer; background-color: rgb(199, 199, 211);" onclick="filtrarRecebimentosAnoMes({{ ano }}, {{ 12 }})">Dez</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th>Assinatura</th>
            <td>{{ assinatura[0] }}</td>
            <td>{{ assinatura[1] }}</td>
            <td>{{ assinatura[2] }}</td>
            <td>{{ assinatura[3] }}</td>
            <td>{{ assinatura[4] }}</td>
            <td>{{ assinatura[5] }}</td>
            <td>{{ assinatura[6] }}</td>
            <td>{{ assinatura[7] }}</td>
            <td>{{ assinatura[8] }}</td>
            <td>{{ assinatura[9] }}</td>
            <td>{{ assinatura[10] }}</td>
            <td>{{ assinatura[11] }}</td>
        </tr>
        <tr>
            <th>Protocolo</th>
            <td>{{ protocolo[0] }}</td>
            <td>{{ protocolo[1] }}</td>
            <td>{{ protocolo[2] }}</td>
            <td>{{ protocolo[3] }}</td>
            <td>{{ protocolo[4] }}</td>
            <td>{{ protocolo[5] }}</td>
            <td>{{ protocolo[6] }}</td>
            <td>{{ protocolo[7] }}</td>
            <td>{{ protocolo[8] }}</td>
            <td>{{ protocolo[9] }}</td>
            <td>{{ protocolo[10] }}</td>
            <td>{{ protocolo[11] }}</td>
        </tr>
        <tr>
            <th>Conclusão</th>
            <td>{{ aprovacao[0] }}</td>
            <td>{{ aprovacao[1] }}</td>
            <td>{{ aprovacao[2] }}</td>
            <td>{{ aprovacao[3] }}</td>
            <td>{{ aprovacao[4] }}</td>
            <td>{{ aprovacao[5] }}</td>
            <td>{{ aprovacao[6] }}</td>
            <td>{{ aprovacao[7] }}</td>
            <td>{{ aprovacao[8] }}</td>
            <td>{{ aprovacao[9] }}</td>
            <td>{{ aprovacao[10] }}</td>
            <td>{{ aprovacao[11] }}</td>
            
        </tr>
        <tr>
            <th>Total</th>
            <td style="font-weight: bold;">{{ recebido[0] }}</td>
            <td style="font-weight: bold;">{{ recebido[1] }}</td>
            <td style="font-weight: bold;">{{ recebido[2] }}</td>
            <td style="font-weight: bold;">{{ recebido[3] }}</td>
            <td style="font-weight: bold;">{{ recebido[4] }}</td>
            <td style="font-weight: bold;">{{ recebido[5] }}</td>
            <td style="font-weight: bold;">{{ recebido[6] }}</td>
            <td style="font-weight: bold;">{{ recebido[7] }}</td>
            <td style="font-weight: bold;">{{ recebido[8] }}</td>
            <td style="font-weight: bold;">{{ recebido[9] }}</td>
            <td style="font-weight: bold;">{{ recebido[10] }}</td>
            <td style="font-weight: bold;">{{ recebido[11] }}</td>
            
        </tr>
      </tbody>
    </table>

    <div name="listagem">
      <h2>Lista de Recebimentos </h2>
      <!-- Inclui o conteúdo de outro arquivo HTML -->
      {% include "recebimento/recebimento_tipo.html" %}
    </div>
  </div>

  <style>
    table {
        width: 100%;
        max-height: 800px; /* Limita a altura do gráfico */
        border-collapse: separate; /* Permite bordas arredondadas */
        border-spacing: 5px; /* Remove espaço entre células */
        margin: 15px 0;
        font-size: 14px;
        font-family: Arial, sans-serif;
        border-radius: 10px; /* Bordas arredondadas */
    }

    th, td {
        border: 1px solid #ddd; /* Define a borda */
        padding: 5px;
        text-align: center;
        border-radius: 5px; /* Bordas arredondadas */
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
        color: #003366; /* Azul escuro para legendas */
    }

    td:first-child {
        text-align: left;
        font-weight: bold;
        color: #003366;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Passa a variável `assinatura` do backend para o frontend como um array JSON
      const yValues = {{ recebido | tojson }};
      const ano = {{ ano | tojson }};

      // Labels para os meses
      const xValues = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"];

      // Cria o gráfico
      const ctx = document.getElementById("myChart").getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            data: yValues
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          aspectRatio: 3.7, // largura 3.0x maior que a altura
          scales: {
            y: {
              beginAtZero: true, // Inicia o eixo Y no zero
              title: {
                display: true,
                text: "R$" // Título do eixo Y
              }
            },
          },
          plugins: {
              legend: {
              display: false // Desativa completamente a legenda
              },
            title: {
              display: true,
              text: "Recebimento Mensal - {{ ano }}"
            }
          }
        }
      });
    });
  </script>

</div>

{% endblock %}